{% extends 'base.html' %}
{% load static %}

{% block page_title %}Homepage{% endblock  %}

{% block page_css %}
    <link rel="stylesheet" href="{% static "shop/index.css" %}">
{% endblock page_css %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                        <div class="col"> 
                            <input type="search" name='search_item' 
                                    placeholder='Search for products'
                                    class='form-control form-control-borderless'
                                    value={{search_keyword}}>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                </div> 
            </form>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            
                <div class="card">              
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                            <a href="{% url "product-detail-page" product.slug %}">
                                {{ product.title }}
                            </a>
                        </div>
                        <div class="card-text">${{ product.price }}</div>
                    </div>
                </div>
            
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="cold-md-3 offset-md-4 align-items-center">
            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{products.previous_page_number}}">Previous</a>
                    </li>
                {% endif %}
                
                <li class="page-item">
                    <a class="page-link" href="?page={{products.number}}">Current</a>
                </li>

                {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{products.next_page_number}}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock  %}



