{% extends 'base.html' %}
{% load static %}

{% block page_title %}Homepage{% endblock  %}

{% block page_css %}
    <link rel="stylesheet" href="{% static "shop/index.css" %}">
{% endblock page_css %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                        <div class="col"> 
                            <input type="search" name='search_item' 
                                    placeholder='Search for products'
                                    class='form-control form-control-borderless'>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                </div> 
            </form>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            
                <div class="card">              
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title" id="item{{product.id}}" >
                            {{ product.title }}
                        </div>
                        <div class="card-text">
                            $<span id="price_item{{product.id}}">{{ product.price }}</span>
                        </div>
                        <a href="{% url "product-detail-page" product.slug %}" class="btn btn-warning">View</a>
                        <a class="btn btn-warning addtocart_btn" id="{{product.id}}">Add to Cart</a>
                    </div>
                </div>
            
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="cold-md-3 offset-md-4 align-items-center">
            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{products.previous_page_number}}">Previous</a>
                    </li>
                {% endif %}
                
                <li class="page-item">
                    <a class="page-link" href="?page={{products.number}}">Current</a>
                </li>

                {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{products.next_page_number}}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock  %}

{% block page_js %}
    
    <script>
        if (localStorage.getItem('cart')==null){
            var cart = {};
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
        }
        count =Object.keys(cart).length
        document.getElementById("cart").innerHTML = "Cart(" + count +")"
        
        $(document).on('click','.addtocart_btn', function(){
            var item_id = this.id.toString()
            
           if (cart[item_id] != undefined){
                //add 1qty to existing product id on the cart
                cart[item_id][0] += 1
           } else {
                //add a new entry in the localstorage
                quantity = 1
                name = document.getElementById('item'+item_id).innerHTML
                price = document.getElementById('price_item'+item_id).innerHTML
                cart[item_id] = [quantity,name,price]
           }   
         
           localStorage.setItem('cart', JSON.stringify(cart))
           
           cart_count =Object.keys(cart).length
           document.getElementById("cart").innerHTML = "Cart(" + cart_count +")"

           //show cart content each add to cart button click
           DisplayCart(cart)
        });
        
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $('#cart').click(function(){
            displayCart(cart)
        })

        function displayCart(cart){
            var output = ""
            var num = 1
            for (var id in cart){
                output += num
                qty = cart[id][0]
                item_name = cart[id][1]
                price = cart[id][2]
                output += item_name + " Qty: " + qty + "<br>"
                num += 1
            }
            output+="<a href='/checkout/' class='btn btn-warning' id='checkout'>Checkout</a>"
            document.getElementById('cart').setAttribute('data-content', output)
            $('#cart').popover('show')
        }
        
    </script>
{% endblock page_js %}



